/* ------------------------ Book page styling ------------------------ */

/* GridView part */
.GridView tr:nth-child(odd) td {
  background-color: #f2f2f2;
}

.GridView .Pager tr td {
  background-color: #8aa96c;
}

.GridView .link-secondary {
  color: var(--bs-secondary-text-emphasis) !important;
}

.GridView .Instructions {
  color: var(--bs-blue) !important;
}

/* pagination part */
.Page .page-link {
  color: #333;
}

.Page .page-link:hover {
  background-color: #f2f2f2;
}

.active > .page-link,
.page-link.active {
  background-color: #f2f2f2;
  border-color: var(--bs-pagination-hover-border-color);
  border-radius: 3px;
}
