/* ------------------------ Global styling ------------------------ */
:host,
html,
body {
  font-family: 'Noto Sans TC', 'Microsoft JhengHei', ui-sans-serif, system-ui,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

/* Display */
.block {
  display: block !important;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.hidden {
  display: none;
}

/* Width */
.w-full {
  width: 100% !important;
}

.w-0 {
  width: 0 !important;
}
